body {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav {
  background: white;
  height: 4rem;
  display: grid;
  align-items: center;
  transition: 0.4s linear;
}

nav.active {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.nav-center {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  margin-bottom: 0;
}
.nav-links {
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(205, 86%, 17%);
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  transition: 0.4s linear;
}
nav a:hover {
  color: hsl(205, 78%, 60%);
}

nav a.active {
  color: white;
}

h4 {
  font-size: 0.875rem;
}
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 40%;
  height: 120px;
  align-items: center;
  margin: auto;
  padding-top: 100px;
  margin-top: 200px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 200px;
}
.container p {
  font-size: 2em;
  font-family: Roboto, "Segoe UI";
}

.button {
  width: 100px;
  height: 100px;
  align-items: center;
  margin: auto;
  padding-top: 100px;
  padding: 15px;
  text-align: center;
  border-radius: 200px;
}
.button #btn {
  width: 100px;
  height: 50px;
  background-color: rgb(238, 236, 236);
  color: black;
  text-align: center;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.4s linear;
}

#btn.active {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#btn:focus {
  outline: none;
}

.logo {
  width: 30px;
  cursor: pointer;
  transition: 1.4s linear;
}
